<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CobALL</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>

  <!-- count particles -->
  <div class="count-particles">
    <div class="container">

      <!-- Row 1 -->
      <div class="row">
        <div class="col-sm-12">
          <h1>Header</h1>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="row">
        <div class="col-sm-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt optio provident tempora amet, eveniet
            et, eum illum, culpa laborum dicta recusandae magni architecto. Illo saepe facilis, unde. Debitis, atque,
            doloremque?</p>
        </div>
        <div class="col-sm-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolorum perferendis voluptates error ullam
            placeat repellendus. Repellendus error repellat veritatis recusandae voluptates earum rerum consectetur
            itaque, ipsam nihil. Alias, nemo.</p>
        </div>
        <div class="col-sm-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ratione sint ex porro excepturi non
            dolorum, ullam ea quae vel earum, soluta obcaecati natus. Eligendi iusto accusantium mollitia debitis
            assumenda!</p>
        </div>
      </div>
    </div>
    </div>

    <!-- particles.js container -->
    <div id="particles-js">

      <!-- <h4 class="insertedText">from particles js DIV TESTING FOR A REFRESH</h4> -->

    </div>



    <!-- scripts -->
    <script src="/static/javascript/particles.js"></script>
    <script src="/static/javascript/app.js"></script>

    <!-- stats.js -->
    <script src="/static/javasript/lib/stats.js"></script>
    <script>
      var count_particles, stats, update;
      stats = new Stats;
      stats.setMode(0);
      stats.domElement.style.position = 'absolute';
      stats.domElement.style.left = '0px';
      stats.domElement.style.top = '0px';
      document.body.appendChild(stats.domElement);
      count_particles = document.querySelector('.js-count-particles');
      update = function () {
        stats.begin();
        stats.end();
        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
          count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
      };
      requestAnimationFrame(update);
    </script>

    <div>
      PPPPPPPPPPPP
      PPPPPPPPPPPPPPPP
      PPPPPPPPPPPP
      PPPPPPPPPPPP
      PPPP
      PPPPPPPP
    </div>

</body>

</html>