<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    Hello from Services
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Coball solutions</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  
  <script>
  var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "10";
  } else {
    document.getElementById("navbar").style.top = "-10px";
  }
  prevScrollpos = currentScrollPos;
}

  </script>
  
</head>

<body>
  <div id="navbar">
    <a href="/">Home</a>
    <a href="/Services">Services</a>
    <a href="/Contact">Contact</a>
  </div>

  <!-- particles.js container -->
  <div id="particles-js">

    <!-- <h4 class="insertedText">from particles js DIV TESTING FOR A REFRESH</h4> -->
    <div class="count-particles">
        <div class="container-fluid">
         
          <div class="row spacerAbove"></div>
        
          <!-- Row 1 -->
          <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10 ">
              <h1 id="mainContent">Services</h1>
            </div>
            <div class="col-sm-1">
            </div>
          </div>
    
          <!-- Row 2 -->
          <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6 landingpageContent">
              <p>Tell us some services</p>
            </div>
            <div class="col-sm-3">
            </div>
          </div>
        </div>

        <div class="container-fluid">
         
            <div class="row spacerAbove"></div>
          
            <!-- Row 1 -->
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-10 ">
                <h1 id="mainContent">Services</h1>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
      
            <!-- Row 2 -->
            <div class="row">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-6 landingpageContent">
                <p>Tell us some services</p>
              </div>
              <div class="col-sm-3">
              </div>
            </div>
          </div>

      </div>
      
  </div>

  <div class="container-fluid" style='padding: 25px;'>

    <!-- Row 1 -->
    <div class="row">
      <div class="col-sm-12">
        <h1>Header</h1>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolorum perferendis voluptates error ullam
          placeat repellendus. Repellendus error repellat veritatis recusandae voluptates earum rerum consectetur
          itaque, ipsam nihil. Alias, nemo.</p>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>


  <!-- scripts -->
<script src="/static/javascript/particles.js"></script>
<script src="/static/javascript/app.js"></script>


</body>
<link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</html>